<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      

 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace映射文件的namespace必须等于Mapper映射器的全限定名 -->
<mapper namespace="yan.zx.dao.UserDao">

<!--由于news_text数据过长，所以不做传输，只有当用户点击该新闻时再次获取news_text字段  -->
	<select id="findUserByU_id"  resultType="yan.zx.entity.User">
		select * from user 
		where u_id=#{u_id}
	</select>
	
	<insert id="addUser" parameterType="yan.zx.entity.User">
		insert into user(u_id,name,password) 
		values(#{u_id},#{name},#{password})
	</insert>
	
	<select id="findUserListByU_idList" parameterType="java.util.List" resultType="yan.zx.entity.User">
	 	select * from user
		where u_id in 
		 <foreach collection="u_idList" index="index" item="u_id" separator="," open="(" close=")">
			#{u_id}
		 </foreach>
	</select>
	

	
</mapper>



